
<div class="header">
  <div class="left">
    <menu></menu>
    <div class="tab-panel">
      <div class="tabs" sortable="$ctrl.channels">
        <tab
            ng-repeat="channel in $ctrl.channels"
            ng-click="$ctrl.changeActiveChannel(channel)"
            ng-class="{'active': channel === $ctrl.activeChannel}"
            sortable-item="$index"
            tab="channel"></tab>
      </div>
      <input ng-model="$ctrl.username" ng-disabled="$ctrl.connected" type="text" placeholder="Username" />
      <input ng-model="$ctrl.password" ng-disabled="$ctrl.connected" type="password" placeholder="Password" />
      <button ng-click="$ctrl.init($ctrl.username, $ctrl.password)">Connect</button>
    </div>
  </div>
  <div class="user">
    {{'Learn More' | translate}}
  </div>
</div>


<div class="content">
  <chat>
    <div class="messages">
      <message ng-repeat="message in $ctrl.messages[$ctrl.activeChannel]" message="message"></message>
    </div>
  </chat>
  <sidebar></sidebar>
</div>


<div class="footer">
  <send-message></send-message>
</div>