
<div class="header">
  <div class="left">
    <menu></menu>
    <div class="tab-panel">
      <div class="tabs" sortable="$ctrl.channels">
        <tab
            ng-repeat="channel in $ctrl.channels"
            ng-click="$ctrl.changeActiveChannel(channel)"
            ng-class="{'active': channel === $ctrl.activeChannel}"
            sortable-item="$index"
            tab="channel">
        </tab>
      </div>
      <button ng-click="$ctrl.openChannelsModal()">+</button>
    </div>
  </div>
  <div class="user">
    {{'Learn More' | translate}}
  </div>
</div>


<div class="content">
  <chat>
    <div class="messages">
      <message ng-repeat="message in $ctrl.messages[$ctrl.activeChannel]" message="message"></message>
    </div>
  </chat>
  <sidebar></sidebar>
</div>


<div class="footer">
  <form ng-submit="$ctrl.sendMessage($ctrl.activeChannel, message)">
    <input ng-model="message" type="text" placeholder="Send a message!" />
    <button type="submit">Send message</button>
  </form>
</div>