@font-face {
	font-family: exo-main;
	src: url("./assets/fonts/Exo2-Light.otf") format("opentype");
}

@font-face {
	font-family: exo-main;
	font-weight: bold;
	src: url("./assets/fonts/Exo2-SemiBold.otf") format("opentype");
}

::-webkit-scrollbar {
	width: 8px;
  height: 8px;
}
::-webkit-scrollbar-button {
	/*width: 8px;
	height: 5px;*/
}
::-webkit-scrollbar-track {
	/*background:#eee;
	border: thin solid lightgray;
	box-shadow: 0px 0px 3px #dfdfdf inset;
	border-radius:10px;*/
	background: rgba(0,0,0,0.0);
}
::-webkit-scrollbar-thumb {
	background:#999;
	/*border: thin solid gray;*/
	border-radius:10px;
}
::-webkit-scrollbar-thumb:hover {
	background:#7d7d7d;
} 

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: exo-main, sans-serif;
  overflow: hidden;
}

/* Client */
client {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: #FFA5A5;
}

client .header {
  display: flex;
  flex-direction: row;
  background: #FFF5A5;
}

client .header .left {
  flex-grow: 1;
  overflow: hidden;
}

client .header .tab-panel {
  display: flex;
  flex-direction: row;
}

client .header .tab-panel .tabs {
  overflow-x: auto;
  overflow-y: hidden;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}

client .header .user {
  background: #C7FFA5;
  max-width: 150px;
  min-width: 150px;
}

client .content {
  flex-grow: 1;
  background: #A5C9FF;
  display: flex;
  flex-direction: row;
}

client .footer {
  height: 50px;
}

/* Menu */
menu {
  margin: 10px 20px 20px;
  padding: 0;
}

menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

menu ul li {
  display: inline;
  margin: 0 5px;
}

/* Tabs */
tab {
  background: #A5FFEF;
}

/* Chat */
chat {
  flex-grow: 1;
  background: #FF84C3;
}

/* Sidebar */
sidebar {
  width: 150px;
}