<link rel="stylesheet" href="modals/login/login.style.css" />
<div class="login-modal">

    <div class="login-box">
        <div class="title">osu!irc login</div>
        <div class="content">
            <form class="login-form" ng-submit="login(username, password)">
                <input ng-model="username" type="text" placeholder="Username" />
                <input ng-model="password" type="password" placeholder="Password" />
                <button type="submit" class="btn-osu btn-osu-pink">Log in</button>
            </form>
        </div>
    </div>

</div>
<div class="fade"></div>