html, body {
	margin: 0;
	padding: 0;
	background-image: url("../images/bg-light.png");
	width: 100%;
	height: 100%;
	font-family: exo-main;
	display: flex;
  flex-direction: column;
}

a {
	color: #3498db;
}

::-webkit-scrollbar {
	width: 8px;
}
::-webkit-scrollbar-button {
	width: 8px;
	height:5px;
}
::-webkit-scrollbar-track {
	/*background:#eee;
	border: thin solid lightgray;
	box-shadow: 0px 0px 3px #dfdfdf inset;
	border-radius:10px;*/
	background: rgba(0,0,0,0.0);
}
::-webkit-scrollbar-thumb {
	background:#999;
	/*border: thin solid gray;*/
	border-radius:10px;
}
::-webkit-scrollbar-thumb:hover {
	background:#7d7d7d;
} 

.night {
	background-color: rgba(39, 39, 39,0.75);
	background-blend-mode: color-burn;
}

#header {
	position: relative;
	background-image: url("../images/bg-light.png");
	background-color: rgba(198, 18, 125, 1);
	background-blend-mode: multiply;
	/*width: 100%;*/
	color: white;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 20px;
	padding-right: 20px;
	box-shadow: 0px 1px 12px 0px rgba(0,0,0,0.75);
	-webkit-user-select: none;
}

#header #top-menu {
	font-weight: 300;
	text-decoration: none;
	padding: 0;
	margin: 0;
}

#header #top-menu li {
	display: inline;
	margin-right: 8px;
  color: white;
}

#header #top-menu a {
  color: white;
	text-decoration: none;
}

#header #top-menu a:hover {
  color: gold;
}

@font-face {
	font-family: exo-main;
	src: url("../fonts/Exo2-Light.otf") format("opentype");
}

@font-face {
	font-family: exo-main;
	font-weight: bold;
	src: url("../fonts/Exo2-SemiBold.otf") format("opentype");
}

#header #user-info {
	float: right;
	text-align: right;
}

#header #user-info #avatar {
	float: right;
	width: 64px;
	border-radius: 5px;
	box-shadow: 0px 0px 8px 0px black;
}

#header #user-info #name-text {
	float: left;
	margin-right: 6px;
	padding-top: 11px;
}

#header #user-info #user-name {
	font-weight: bold;
}

.clear-fix {
	clear: both;
}

#header #tabs-container {
	float: left;
	position: absolute;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	bottom: 0;
	text-decoration: none;
	list-style-type: none;
  display: block;
  box-sizing: border-box;
}

#tabs-container .tab {
	display: inline-block;
	height: 23px;
	/*sorry for ugly workaround*/
	/*padding: 2px 10px;
	padding-left: 8px;*/
	line-height: 16px;
	width: auto;
	transform: skew(-15deg);
	cursor: pointer;
}

#tabs-container #tab-slider {
	display: inline-block;
	overflow-x: hidden;
	overflow-y: hidden;
	white-space: nowrap;
	vertical-align:top;
	width: 500px;
	transform: skew(-15deg);
}

#tab-slider .tab {
	margin-right: 4px;
}

.tab span {
	color: white;
	transform: skew(15deg);
	display: block;
	padding: 2px 10px;
	white-space: nowrap;
	overflow-x: hidden;
	font-weight: bold;
}

.tab span.close {
	background-color: rgb(243, 101, 148);
	transform: skew(0deg) !important;
	float: right;
	height: 20px;
	padding: 2px 7px;
	font-weight: normal;
	font-size: 12px;
}

.tab.default {
	transform: skew(0deg) !important;
	background-color: rgb(240, 77, 174);
}

.hidden {
	display: none;
}

.tab.active {
	background-color: rgb(240, 122, 192);
}

.tab.navigate {
	background-color: rgb(52, 152, 219);
}

.tab.add {
	background-color: rgb(241, 196, 15);
}

#empty {
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 200px;
    height: 90px;
    margin: auto;
    text-align: center;
    font-size: 24px;
	color: rgba(198, 18, 125, 1);
	font-style: italic;
}

.container {
	padding: 6px 6px;
	flex-grow:1;
	display: flex;
}

.left-side {
	flex-grow: 1;
	display: flex;
	flex-flow: column;
}

.right-side {
	display: flex;
	flex-wrap: wrap;
	min-width: 125px;
	width: 125px;
}

#splitter {
	padding-left: 6px;
	cursor: e-resize;
}

.chat-container {
	background-color: white;
	border-radius: 6px;
	border: #F8F8F8 solid 1px;
	box-shadow: inset 16px 16px 12px -14px rgba(229,229,229,1);
  cursor: text;
	flex: 1;
	margin: 0 0 6px 0;
	padding: 5px 10px 10px 10px;
	color: #666464;
	overflow-y: scroll;
	word-break: break-word;
}

.night .chat-container {
	background-color: rgb(40, 40, 40);
	box-shadow: inset 16px 16px 12px -14px rgb(39, 39, 39);
	color: white;
	border: rgb(39, 39, 39) solid 1px;
	color: #dfdfdf;
}

#text-input {
	outline: none;
	/*margin-top: 8px;*/
	height: 37px;
	/*padding: 0 8px;*/
	border: #F8F8F8 solid 1px;
	border-radius: 6px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
  vertical-align:middle;
	font-family: exo-main;
	padding: 6px 6px;
}

#chat-area {
	position: relative;
}

#chat-area .link {
	text-decoration: none;
	background-color: #204ACB;
	color: white;
	padding: 1px 2px;
    border-radius: 4px;
    transition-duration: .15s;
	-webkit-transition-duration: .15s;
}

#chat-area .link:hover {
	background-color: #4D69BF;
}

.night #text-input {
	background-color: rgb(40, 40, 40);
	box-shadow: inset 16px 16px 12px -14px rgb(39, 39, 39);
	color: white;
	border: rgb(39, 39, 39) solid 1px;
}

.right-side .panel {
	align-self: flex-start;
	width: 100%;
}

.right-side .info-panel {
	width: 100%;
	background-color: rgb(255, 255, 255);
	padding: 10px 0px;
	text-align: center;
	margin-bottom: 6px;
	border: 1px solid rgb(242, 242, 242);
	border-radius: 2px;
}

.night .right-side .info-panel {
	background-color: rgb(40, 40, 40);
	box-shadow: inset 16px 16px 12px -14px rgb(39, 39, 39);
	color: white;
	border: rgb(39, 39, 39) solid 1px;
}

.info-panel .info-title {
	font-size: 12px;
	color: rgb(184, 184, 184);
}

.info-panel .info-text {
	font-weight: bold;
	font-size: 18px;
	color: rgb(195, 18, 123);
}

.right-side button {
	width: 100%;
	align-self: flex-start;
}

/*thx new.ppy.sh*/

.btn-osu {
	font-family: exo-main;
	outline: none;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 5px 10px;
  font-size: 16px;
  line-height: 1.25;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.btn-osu,.btn-osu.focus,.btn-osu:focus,.btn-osu:hover {
  color: #fff
}

.btn-osu {
	background-image: url("../images/button.svg");
	background-size: 200px;
	background-position: 50% 50%;
}

.btn-osu-default {
  background-color: #4ad;
  box-shadow: 0 6px #29b,0 7px 10px rgba(0,0,0,.8);
  margin-bottom: 14px;
  transition: all .1s ease-in-out
}

.btn-osu-default.disabled,.btn-osu-default[disabled] {
  background-color: #9ad1ed;
  box-shadow: 0 10px #8cd5ea,0 7px 10px rgba(0,0,0,.6)
}

.btn-osu-default:focus {
  background-color: #2ea0d9;
  box-shadow: 0 6px #1e87a5,0 7px 6px rgba(0,0,0,.8)
}

.btn-osu-default:hover {
  background-color: #2592c9;
  box-shadow: 0 6px #1a7690,0 7px 6px rgba(0,0,0,.8)
}

.btn-osu-default:active {
  transform: translateY(5px);
  background-color: #2592c9;
  box-shadow: 0 2px #1a7690,0 3px 5px rgba(0,0,0,.8)
}

.btn-osu-pink {
  background-color: #e31591;
  box-shadow: 0 5px #bc1177,0 7px 5px rgba(0,0,0,.8);
  margin-bottom: 10px;
  transition: all .1s ease-in-out
}

.btn-osu-pink.disabled,.btn-osu-pink[disabled] {
  background-color: #9ad1ed;
  box-shadow: 0 5px #8cd5ea,0 7px 5px rgba(0,0,0,.6)
}

.btn-osu-pink:focus {
  background-color: #e31591;
  box-shadow: 0 5px #bc1177,0 7px 5px rgba(0,0,0,.8)
}

.btn-osu-pink:hover {
  background-color: #d71389;
  box-shadow: 0 5px #ac106d,0 7px 5px rgba(0,0,0,.8)
}

.btn-osu-pink:active {
  transform: translateY(5px);
  background-color: #d71389;
  box-shadow: 0 2px #ac106d,0 2px 2px rgba(0,0,0,.8)
}

/*and now again mine css :3 */
#send-button {
	align-self: flex-end;
	margin-bottom: 5px !important;
}

.time-tag {
	color: #b2b2b2;
}

.user-tag {
	font-weight: bold;
	text-decoration: none;
}

.normal-user {
	color: #ffc561;
}

.supporter-user {
	color: #ffc561;
}

.moderator-user {
	color: darkred;
}

.mention-tag {
	color: #f04dae;
	font-weight: bold;
}

.info-tag {
	color: #b2b2b2;
}

.success-tag {
	color: #f1c40f;
	font-weight: bold;
}

.error-tag {
	color: darkred;
	font-weight: bold;
}

.modal-container {
	position: absolute;
	top: 0;
	left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.9);
  z-index: 10000;
}

.modal-dialog {
	width: 350px;
	height: 275px;
	background-image: url("../images/bg-light.png");
	position: absolute;
  margin: auto;
  top: 0; bottom: 0; left: 0; right: 0;
	text-align: center;
	color: black;
	z-index: 10001;
}

.modal-dialog-big {
	width: 600px;
	height: 500px;
}

.night .modal-dialog {
	background-color: rgba(39, 39, 39,0.75);
	background-blend-mode: color-burn;
	color: white;
}

.modal-dialog .modal-header {
	background-image: url("../images/bg-light.png");
	background-color: rgba(198, 18, 125, 1);
	background-blend-mode: multiply;
	height: 50px;
	font-size: 23px;
	font-weight: bold;
	display: flex;
	align-items: center; 
	justify-content: center;
	color: white;
	flex: 1;
	text-align: center;
}

.modal-header a {
	display: inline;
	position: absolute;
	margin: auto;
	right: 0;
	top: 0;
	padding-right: 6px;
	color: white;
	text-decoration: none;
}

#login-form {
	margin-top: 35px;
}

#login-form input {
	background-color: white;
	border: 0;
	padding: 0;
	margin: 0;
	width: 212px;
	height: 32px;
	padding-left:30px;
	font-family: exo-main;
	font-size: 18px;
	background-size: 20px;
	background-position: 5px 5px;
	background-repeat: no-repeat;
	display: inline-block;
}

#login-form input[disabled] {
	background-color: silver !important;
}

#login-form input.error {
	color: darkred;
}

#login-form input[type="text"] {
	background-image: url("../images/user.png");
	border-bottom: 1px solid #eeeeee;
}

#login-form input[type="password"] {
	background-image: url("../images/password.png");
	margin-bottom: 20px;
}

#login-form .btn-osu {
	width: 139px;
}

#login-form div {
	color: #db3e9b;
	margin-top: 12px;
}

#login-form div a {
	font-weight: bold;
	color: #c6127d;
}

#select-channel-modal .modal-dialog {
	width: 500px;
	height: 400px;
}

#select-channel-modal input {
	background-color: white;
	border: 0;
	padding: 0;
	margin: 0;
	width: 212px;
	height: 32px;
	padding-left:30px;
	font-family: exo-main;
	font-size: 18px;
	background-size: 20px;
	margin-top:12px;
	background-position: 5px 5px;
	background-repeat: no-repeat;
	display: inline-block;
	background-image: url("../images/user.png");
}

#select-channel-modal button {
	margin-top: 12px;
	margin-bottom: 12px;
	width: 180px;
}

#channels-list {
	margin: 12px auto;
	width: 450px;
  height: 200px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 4px 1px white;
  text-decoration: none;
  list-style-type: none;
  padding: 0;
  overflow-y: auto;
	position:relative;
	text-align: left;
	display: flex;
	flex-direction: column;
}

#channels-list #channels-filter {
	position: absolute;
	top:0;
	right: 0;
	margin: auto;
	border-bottom-left-radius: 5px;
	border-left: 1px solid #dfdfdf;
	border-bottom: 1px solid #dfdfdf;
	background-image: url("../images/search.png");
}

.channel-row {
	float: left;
	cursor: pointer;
	color: rgb(184, 184, 184);
	display: block;
	padding: 6px;
	border-bottom: 1px solid rgb(184, 184, 184);
	transition: background-color 0.5s ease, color 0.5s ease;
}

.channel-row:hover {
	background-color: #ce1383;
  color: white;
}

.channel-row h1 {
	color: #c6127d;
	font-weight: bold;
	margin: 0;
	padding: 0;
	font-size: 20px;
	margin-bottom: 2px;
	transition: background-color 0.5s ease, color 0.5s ease;
}

.channel-row:hover h1 {
	color: white;
}

.channel-row p {
	margin: 0;
}

.channel-row .active-users {
	float: right;
}

input[type=checkbox] {
	display: block;
	width: 72px;
	height: 32px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	-webkit-appearance: none;
	outline: 0;
	margin-right: 16px;	
}
 
input[type=checkbox]:checked {
	background-image: url("../images/switch_on.png");
}
input[type=checkbox]:not(:checked) {
	background-image: url("../images/switch_off.png");
}

#settings-modal input[type=checkbox] {
	float: right;
}

#settings-modal label {
	float: left;
	display: block;
	font-size: 18px;
	padding-top: 6px;
	padding-left: 20px;
}

#settings-modal .row {
	clear: both;
	margin-top: 5px;
}

#about-logo {
	text-align: center;
}

#about-logo img {
	width: 120px;
	vertical-align: middle;	
}

#about-logo .appname {
	font-size: 32px;
	font-weight: bold;
}

.developer {
	width: 280px;
	text-align: left;
}

#about-modal .row {
	padding: 5px 15px;
}

.developer img {
	float: left;
	width: 64px;
	margin-right: 5px;
}

.developer p {
	float: right;
}

.developer h1 {
	margin: 0;
	padding: 0;
}

.user-sign {
	position: absolute;
	top: 0;
	left: 0;
	width: 338px;
	height: 94px;
	z-index: 10000000;
	display: none;
	background-image: url("../images/loading.gif");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 94px;
}